body {
	background-color: rgb(77, 44, 44);
	color: white;
}

:root {
	--a-color: rgb(172, 94, 94);
	--ah-color: rgb(196, 139, 139);
	--fh-color: rgb(99, 27, 27);
	--fl-color: rgb(51, 14, 14);
}

a {
	color: var(--a-color);
	text-decoration: none;
}

a:hover {
	color: var(--ah-color);
}

.floatnavbutton {
    background-color: var(--fl-color);
}

.floatnavbutton:hover {
	background-color: var(--fh-color);
}

.shadow {
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}