@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

* {
    transition: .5s;
}

body {
    padding: 20px;
    padding-bottom: 150px;
    font-family: "Yomogi", "Zen Kurenaido", cursive;
    margin: auto;
    overflow-x: hidden;
}

ul {
	padding-left: 0;
}

ul li {
	width: 90%;
	margin: auto;
}

td {
	padding: 10px;
}

/* loading */
.loading {
    position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hide {
    transition: .5s;
    opacity: 0% !important;
}

/* main content */
.content {
    padding-top: 30px;
    transition: .5s cubic-bezier(.56,1.13,.28,1.24);
}

.mainmd {
    text-align: center;
}

/* fload button */
.floatnavbutton {
    opacity: 90%;
    position: fixed;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    bottom: -10%;
    margin: auto;
    transition: .5s cubic-bezier(.56,1.13,.28,1.24);
}

.float1 {
    left: 30%;
}

.float2 {
    right: 25%;
    left: 25%;
}

.float3 {
    right: 30%;
}

.floatup {
    bottom: 5%;
}

.floatdown {
    bottom: -10%;
}

/* style */
.shadow {
    opacity: 90%;
}