h1 {
    color: var(--gray-12);
}

h2 {
    color: var(--gray-12);
}

h3 {
    color: var(--gray-12);
}

p {
    color: var(--gray-12);
}

a {
    color: var(--red-11);
    text-decoration: none;
}

li {
    color: var(--gray-12);
    margin-left: 25px;
}